body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  background-color: #f2f2f2;
}

header {
  background-color: #0077cc;
  color: white;
  text-align: center;
  padding: 15px;
  font-size: 1.4em;
  font-weight: bold;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

#map {
  height: 85vh;
  width: 100%;
  border-top: 2px solid #0077cc;
  border-bottom: 2px solid #0077cc;
}

button {
  background-color: #0077cc;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 10px auto;
  display: block;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
}

button:hover {
  background-color: #005fa3;
}

.admin-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e9f5ff;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

#apiKeyInput {
  padding: 8px;
  width: 250px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
}

#saveKeyBtn {
  padding: 8px 15px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#saveKeyBtn:hover {
  background-color: #218838;
}
